/* -------------MEDIA QUERRY------------------- */
@media screen and (min-width:280px) and (max-width:698px) {
    body {
        overflow-x: hidden;
    }

    #task {
        font-size: 36px;
    }

    #list {
        font-size: 26px;
    }

    #noitemlist {
        font-size: 26px;
        font-weight: 250;
    }



    /*--------plus sign-----------*/
    .plus {
        font-size: 20px;
        right: 24vw;
        top: 9vh;
    }

    /* add list button */
    #button2 {
        font-size: 24px;
        right: -25vw;
    }

    /*----------popup box----------------*/
    .popupbox {
        top: 40%;
        left: 10%;
        height: 35vh;
        width: 80vw;
    }

    /* inner styling of popup box */
    #h2 {
        left: 18vw;
    }

    #cardName {
        left: 10vw;
        top: 15vw;
        width: 54vw;
    }

    #cartoon {
        top: 14vh;
        left: 28vw;
        height: 13vh;
        width: 20vw;
    }

    /* ---------ADD BUTTON ---------------------- */
    #Add {
        left: 10vw;
        top: 27vh;
        height: 4.5vh;
        width: 20vw;
    }

    /* ----------------CLOSE BUTTON---------------- */
    #Close {
        left: 48vw;
        top: 27vh;
        height: 4.5vh;
        width: 20vw;
    }

    /*------card design------*/
    .flexcard {
        left: 7vw;
        width: 72vw;
    }

    .deleteButton {
        height: 7vh;
        width: 13vw;
        left: 58vw;
    }

    .addItem {
        height: 7vh;
        width: 13vw;
        left: 2.8vw;
    }

    /*----------dynamic pop3 design(last)----------*/
    .pop3 {
        top: 50%;
        left: 20%;
        height: 32vh;
        width: 55vw;
    }

    .h2 {
        font-size: 24px;
    }

    #newCardName {
        font-size: 18px;
        left: 7vw;
        top: 12vw;
        width: 40vw;
    }

    .image {
        height: 12vh;
        width: 24vw;
        top: 12vh;
        left: 14vw;
    }

    .button4 {
        left: 4.5vw;
        top: 26vh;
        height: 4vh;
        width: 18vw;
    }

    .button5 {
        left: 30vw;
        top: 26vh;
        height: 4vh;
        width: 18vw;
    }

    /*-------navbar for backbutton -----------------------*/
    header {
        height: 60px;
        gap: 30px;
    }

    .backbutton {
        width: 20vw;
        height: 7vh;
        left: 10vw;
        top: 9vh;
        font-weight: bold;
        font-size: 20px;
        position: absolute;
    }

    #blankk {
        top: 10vh;
        left: 40vw;
        text-align: center;
        font-size: 26px;
    }


    /*-----Choosing a single particular card---*/
    .selectedcard {
        width: 90vw;
        top: 45vh;
        left: 0vw;

    }
}

/* -------------MEDIA QUERRY------------------- */
@media screen and (min-width:700px) and (max-width:990px) {
    body {
        overflow-x: hidden;
    }

    #task {
        font-size: 60px;
    }

    #list {
        font-size: 50px;

    }

    #noitemlist {
        font-size: 46px;
        top: 16vh;
    }

    /*--------plus sign-----------*/
    .plus {
        font-size: 45px;
        right: 32vw;
        top: 8vh;
    }


    /* add list button */
    #button2 {
        font-size: 44px;
        right: -25vw;
    }

    /*----------popup box----------------*/
    .popupbox {
        height: 24vh;
        width: 40vw;
        border-radius: 25px;
        top: 40%;
        left: 26%;
    }

    /* inner styling of popup box */
    #h2 {
        left: 10vw;
    }

    #cardName {
        left: 5vw;
        top: 7vw;
        width: 29vw;

    }

    #cartoon {
        height: 9vh;
        top: 10vh;
        left: 15vw;
    }

    /* ---------ADD BUTTON ---------------------- */
    #Add {
        top: 19vh;
        left: 6vw;
        width: 10vw;
        height: 4vh;
    }

    /* ----------------CLOSE BUTTON---------------- */

    #Close {
        top: 19vh;
        left: 24vw;
        width: 10vw;
        height: 4vh;
    }

    /*------card design------*/
    .flexcard {
        width: 57vw;
        left: 18vw;
    }

    .deleteButton {
        height: 7vh;
        width: 10vw;
    }

    .addItem {
        height: 7vh;
        width: 10vw;
    }

    /*----------dynamic pop3 design(last)----------*/
    .pop3 {
        top: 50%;
        left: 20%;
        height: 32vh;
        width: 55vw;
    }

    .h2 {
        font-size: 30px;
    }

    #newCardName {
        font-size: 22px;
        left: 7vw;
        top: 6.5vh;
        width: 40vw;
    }

    .image {
        height: 12vh;
        width: 20vw;
        top: 12vh;
        left: 16vw;
    }

    .button4 {
        left: 4.5vw;
        top: 26vh;
        height: 4vh;
        width: 18vw;
    }

    .button5 {
        left: 30vw;
        top: 26vh;
        height: 4vh;
        width: 18vw;
    }


    /*-----Choosing a single particular card---*/
    .selectedcard {
        width: 65vw;
        top: 40vh;
        left: 0vw;
    }

    /*-------navbar for backbutton -----------------------*/
    header {
        height: 60px;
        gap: 30px;
    }

    .backbutton {
        width: 20vw;
        height: 7vh;
        left: 10vw;
        top: 9vh;
        font-weight: bold;
        font-size: 20px;
        /* position: absolute; */
    }

    #blankk {
        top: 10vh;
        left: 40vw;
        text-align: center;
        font-size: 50px;
    }








}
